<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a href="{{ path ('index_auteur') }}"><i class="fa fa-user"></i> Auteurs</a>
            </li>

            <li>
                <a href="{{ path('editeur_index') }}"><i class="fa fa-pencil"></i> Editeurs</a>
            </li>


            <li>
                <a href="{{ path('categorie_index') }}"><i class="fa fa-folder"></i> Catégories</a>
            </li>

            <li>
                <a href="{{ path('livre_index') }}"><i class="fa fa-book"></i> Livres</a>
            </li>
            <li>
                <a href="{{ path('users_index') }}"><i class="fa fa-book"></i> Abonnées </a>
            </li>
            <li>
                <a href="{{ path('Liste_Empreintes') }}"><i class="fa fa-book"></i> Empreintes</a>
            </li>





        </ul>
    </div>

</nav>